<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJKogTI9j1FjIw40ByrKrf8tBWIiL_s2I</string>
	<key>GCM_SENDER_ID</key>
	<string>1090339120689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twinflare.reminderToWords</string>
	<key>PROJECT_ID</key>
	<string>remindertowords</string>
	<key>STORAGE_BUCKET</key>
	<string>remindertowords.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090339120689:ios:8d76272925e41c8d1cd710</string>
</dict>
</plist>
